{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="col-11 flex-shrink-0 p-3 bg-white more_details">
    <div class="form-section">
        {% if messages %}
        {% for mess in messages %}
            <div class="mess_prof">{{ mess }}</div>
        {% endfor %}
        {% endif %}
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
                <h5>{{ title }}</h5>
                {% csrf_token %}
                {{ form }}
                <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
                <span>Не зарегистрированы? <a href="{% url 'reg' %}" class="a_s">Зарегистрироваться</a></span>
            </form>
        </div>
    </div>
</div>
{% endblock %}